body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f5f7;
}

header {
    background: #1f2933;
    color: white;
    padding: 20px;
}

nav {
    background: #e4e7eb;
    padding: 10px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}

section {
    padding: 20px;
}

.request-card {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.pending {
    border-left: 6px solid orange;
}

.progress {
    border-left: 6px solid blue;
}

.completed {
    border-left: 6px solid green;
}

.actions button {
    margin-right: 10px;
    padding: 10px 15px;
}



.dropdown-btn {
    width: 100%;
    padding: 12px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    margin-top: 10px;
}

.dropdown-content.active {
    display: block;
}



/** Request Form */
.request-form {
    max-width: 500px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.request-form label {
    margin-bottom: 15px;
    font-weight: bold;
}

.request-form input,
.request-form select,
.request-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.submit-btn {
    margin-top: 15px;
    padding: 10px;
    background-color: #1f2933;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #3a4750;
}

.hidden {
    display: none;
}

#successMessage {
    text-align: center;
    margin-top: 20px;
    color: green;
    font-weight: bold;
}
